{% extends "base.html" %}
<!-- blogpage.html -->
{% block content %}
    <h1>My Blog!</h1>
    
    <form method="post">
        <label>
            <div>Title:</div>
            <input type="text" name="title" value="{{title}}">
        </label>
        
        <label>
            <div>Content:</div>
            <textarea name="body">{{body}}</textarea>
        </label>
        
        <div>{{error}}</div>
        
        <input type="submit">
    </form>
    
    <hr>
    
    {% for blog in blogs %}
        <div>
            <div>{{blog.title}}</div>
            <div>{{blog.created}}</div>
            <pre>{{blog.body}}</pre>
        </div>
    {% endfor %}
{% endblock %}