{% extends "base.html" %}
<!-- blogpage.html -->
{% block content %}

    {% if blog %}
        <div>
            <h2>{{blog.title}}</h2>
            <div>{{blog.body}}</div>
        </div>
    {% else %}
    
        {% for blog in blogs %}
            <div>
                <div><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></div>
                <div>{{blog.created}}</div>
                <pre>{{blog.body}}</pre>
            </div>
        {% endfor %}
        
    {% endif %}
{% endblock %}